# Ignore Python bytecode files
*.pyc
__pycache__/

# Ignore Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Ignore virtual environment directories
venv/
env/

# Ignore data files
data/True.csv
data/Fake.csv
data/cleaned_data.csv

# Ignore model files
models/best_logreg_model.pkl
models/fine_tuned_bert/

# Ignore results files
results/confusion_matrix.png
results/roc_curve.png

# Ignore log files
logs/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE specific files
.vscode/
.idea/
